doctype html
html
  head
    title= title
    
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascrpt", src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js")
  body
    block content
