<aside role="complementary" class="left-menu z-depth-1 blue-grey darken-2 white-text side-nav">
    <div class="user-div clearfix">
        <ul class="collection ">
            <li class="collection-item avatar blue-grey darken-3">
                <!--<img src="images/yuna.jpg" alt="" class="circle">-->
                <i class=" circle green">T</i>
                <span class="title flow-text-small truncate">{{current_user.email}}</span><br />
                <span class="flow-text-smaller">
                    Administrator
                </span>
                <a href="#!" class="secondary-content white-text" ng-click="logOut()"><i class="material-icons">lock</i></a>
            </li>
        </ul>
    </div>
    <div>
        <ul class="side-nav-links ">
            <li class="">

                <a href="#/"><i class="circle material-icons">dashboard</i> <span>Dashboard</span> </a>
            </li>

        </ul>
    </div>

</aside>