<h3>Users</h3>

<table class="bordered highlight striped">
    <thead>
        <tr>
            <th data-field="id">
                
                <input type="checkbox" ng-model="check_all_users" id="check_all_users" />
                <label for="check_all_users"></label>
            </th>
            <th data-field="name">Name</th>
            <th data-field="email">Email</th>
            <th data-field="role">Role</th>
            <th data-field="id">Edit</th>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="user in users">
            <td>
                <input ng-model="user.selected" type="checkbox" id="check_user[{{user.id}}]" />
                <label for="check_user[{{user.id}}]"></label>
            </td>
            <td>{{user.first_name}} {{user.last_name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.role.text}}</td>
            <td>
                <a href="#/users/{{user.id}}" class="btn cyan waves-effect waves-light">
                    <i class="material-icons">edit</i>
                </a>
            </td>
        </tr>
       
    </tbody>
</table>
<div class=""></div>
<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large waves-effect waves-light  pink" href="#/create/user"><i class="material-icons">person_add</i></a>
</div>