<div style="padding:10px;">
    <div class="row">
        <div class="col s12 m10 offset-m1">
            <table class="bordered highlight striped">


                <tbody>
                    <tr ng-if="key!='id' && key.charAt(0)!='_'" ng-repeat="(key, value) in item">

                        <th>{{key | uppercase|noUnderscore:' '}}</th>
                        <td ng-if="!isCollection(value)">
                            <div class="input-field">
                                <input editable-text ed-text-on="editable" class="{{editable}}"  type="{{(key|lowercase)=='password'?'password':'text'}}" id="{{key}}" data-ng-model="item[key]" />
                                <label  ng-if="!editable" for="{{key}}">{{key|noUnderscore:' ' | titlecase}}</label>
                            </div>
                        </td>
                        <td ng-if="isCollection(value)">
                            <div>
                                <div class="input-field">
                                    <select   multiple data-ng-model="item[key]"    prop-to-display="name" ng-options="i.name for (k, i) in  app_info[key] track by i.id"></select>

                                    <label ng-if="!editable" > Select {{key|noUnderscore:' ' | titlecase}}</label>
                                </div>
                                <span  ng-init="$parent.init_select()"></span>
                            </div>
                        </td>


                    </tr>

                </tbody>
            </table>

            <a class="btn-floating right cyan tooltipped" data-position="bottom" data-delay="50" data-tooltip="Add field"><i class="material-icons">playlist_add</i></a>
            <div>
                <button ng-click="saveChanges()" ng-disabled="(!is_modified) || saving_changes" class="btn pink waves-effect waves-light ">
                    <i class="material-icons">save</i> {{saving_changes?'Saving changes':'Save'}}
                </button>
                <inline-loader class="{{saving_changes?'':'hide'}}" for-all="false" size="small" style="padding-top:5px; position:relative; float:left;"></inline-loader>
            </div>
        </div>
    </div>
</div>